.navbar-cng{
    background-color: #fff;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(48, 48, 48, 0.2);
            box-shadow: 0px 4px 5px 0px rgba(48, 48, 48, 0.2);
    -webkit-transition: var(--trans);
    -o-transition: var(--trans);
    transition: var(--trans);
}
.navbar-cng .site-brand{
    color: var(--dark);
}
.navbar-cng .site-brand span{
    color: var(--green);
}
.navbar-cng #navbar-show-btn{
    color: var(--green);
}